/* 
#Day - 7 Measuring Progress
*/

/* Importing Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&display=swap');

/* 
Resetting
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}


/* Main Styling */

.main{
    width: 100vw;
    height: 100vh;
    background-color: beige;
    position: relative;
}

.progressMeter{
    width: 60%;
    padding: 40px;
    position: absolute;
    background-color: chocolate;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.progressMeter progress, .progressMeter meter{
    display: block;
    margin: 20px auto;
    width: 250px;
    height: 50px;
    color: #fff;
}

.progressMeter p{
    float: right;
    margin-top: 30px;
    font-size: 1.2rem;
}




/* Responsive Meta Tags */
@media (min-width: 481px) and (max-width: 767px) {
    /*  */
  }
  
  @media (min-width: 320px) and (max-width: 480px) {  
    /*  */
  }