/* 
#Day - 2 The Map Tag
*/

/* Importing Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&display=swap');

/* 
Resetting
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}

/* Main Styling */

.word-cloud-section{
    width: 100vw;
    height: 100vh;
}